  body {


font-family: sans-serif;
padding-left: 11em;
   font-family: Georgia, "Times New Roman",
          Times, serif;
	
    background-color: #ffdee7 }
	  ul.navbar {
     list-style-type: none;
    padding: 0;
    margin: 0;
	position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
	h1 {
  font-family: Playfair Display, Pearl,
        SunSans-Regular, sans-serif;
  font-size: 80px;
color: #c25344;
}
ul.navbar li {
  background: #b8cce3;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid #c25344 }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
table {
  border-collapse: collapse;
  border: 2px solid #d13c28;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid #74a0c2;
  padding: 10px 20px;
}

th {
  background-color: #74a0c2;
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: #516087;
}

tr:nth-child(odd) td {
  background-color: #74a0c2;
}

caption {
  padding: 10px;
}
  
